<div id="text-box">
  <%= text_field_tag :message, nil, placeholder:"text-to-speech on submit" %>
  <input type="submit" name="tts-submit" id="tts-submit" value="submit">
</div>
<div class="controls hide">
  <label>
    <input id="gauges" type="checkbox">
    <span>Gauges</span>
  </label>
  <label>
    <input id="night" type="checkbox">
    <span>Night</span>
  </label>
</div>
<div class="clock"></div>
<div class="help hidden">
  <p>
    Scroll up to change settings
  </p>
</div>
<div class="day hide"></div><div class="night hide"></div>
